/* Цвет основного текста #212121 */
/* Вторичный цвет #757575 */

/* Белый #FFFFFF */
/* Акцент #2196F3 */

/* Вторичный цвет фона #E5E5E5 */

:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --class-offers-works: #e5e5e5;
  --accent-color: #2196f3;
  --section-hero: #2f303a;
  --section-teams-button: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

/* Header */

.backdrop {
  z-index: 888;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form > h2 {
  margin: 0 0 12px 0;
  font-size: 20px;
  text-align: center;
}

label {
  display: block;
}

.backdrop-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.backdrop-form__label--icon {
  position: absolute;
  top: 55%;
  left: 12px;
  transform: translateY(-55%);
}
.backdrop-form__label:last-child {
  margin-bottom: 20px;
}

.backdrop-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-input__textarea {
  resize: none;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.backdrop-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-input:focus + .backdrop-form__label--icon {
  fill: var(--accent-color);
}

.backdrop-input__textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.backdrop-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop-label__form {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-label__link {
  margin-left: 6px;
  color: var(--accent-color);
}

.backdrop-label__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.backdrop-icon__checkbox {
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-label__checkbox:checked + .backdrop-icon__checkbox {
  background-color: var(--accent-color);
  background-image: url("../images/svg-sprite/icon-check.svg");
  background-size: contain;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.backdrop-form__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  color: var(--primary-white-color);
  margin-bottom: 40px;
  padding: 10px 55px;
  cursor: pointer;
}

.backdrop-form__button:hover,
.backdrop-form__button:focus {
  background-color: #188ce8;
  outline: none;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px 40px 0 40px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 8px 0 0;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.backdrop-button:hover {
  fill: var(--accent-color);
}

.header,
.header-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

/* Logo */
.header-logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: flex;
}

.header-logo--color,
.footer-logo--color {
  color: var(--accent-color);
  font-size: 26px;
}

.header-site__navigation {
  position: relative;
  margin-right: 50px;
}

.header-site__navigation:last-child {
  margin-right: 0;
}

.header-main__navigation {
  display: flex;
  align-items: center;
}

.header-site__navigation {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-site__navigation .header-site__link:hover,
.header-site__navigation .header-site__link:focus,
.header-site__navigation .header-site__link.current-header {
  color: var(--accent-color);
}

.header-site__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-site__link--navigation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-header::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
  border-radius: 2px;
  bottom: -1px;
}

.header-site__link {
  text-decoration: none;
  color: var(--primary-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-site__navigation a:hover,
.header-site__navigation a:focus {
  color: var(--accent-color);
}

.header-site__navigation .header-site__link--navigation {
  text-decoration: none;
  color: #757575;
}

.header-site__navigation .list-header__navigation {
  list-style: none;
  padding-top: 50px;
  padding-bottom: 94px;
}

.button-hero__modal {
  margin-top: 0px;

  min-width: 200px;
  box-sizing: border-box;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;

  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero__modal:hover,
.button-hero__modal:focus {
  background-color: #188ce8;
}

/* .button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.button-portfolio-first {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  letter-spacing: 0.03em;

  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.button-portfolio {
  min-width: 128px;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;

  background-color: var(--section-teams-button);
  cursor: pointer;
  letter-spacing: 0.03em;

  border: none;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--section-hero);
  color: var(--primary-white-color);
  text-align: center;
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero > h1 {
  color: var(--primary-white-color);
}

/* Наши предложения */

.offers-title__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.offers-list__text {
  margin-top: 10px;
  margin-bottom: 0px;

  color: #757575;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.offers-list__navigation {
  margin-right: 30px;
  width: 270px;
}

.offers-list__navigation:last-child {
  margin-right: 0;
}

.offers-icon__list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.offers-list__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.offers {
  margin-bottom: 0;
  padding: 94px 0;
}

.offers,
.works {
  background-color: var(--primary-white-color);
}

/* Блок нашей работы */

.works {
  margin-top: 0;
  padding-bottom: 94px;
}

.works-title {
  margin-bottom: 50px;

  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Наша команда */

.teams-title,
.customers-title {
  margin-top: 0px;

  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.teams {
  margin-top: 0px;
  margin-bottom: 1px;
  background-color: var(--section-teams-button);

  padding-top: 94px;
  padding-bottom: 94px;
}

.teams-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}
.teams-name,
.teams-person {
  text-align: center;
}

.teams-person {
  margin-top: 0;
  margin-bottom: 0;

  color: #757575;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.offers > h2,
.works > h2,
.teams > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Customers */

.customers {
  margin-top: 0px;
  margin-bottom: 1px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title-list {
  display: flex;
  align-items: center;
  list-style: none;

  margin: 0;
  padding: 0;
}

.customers-list {
  margin: 0 30px 0 0;
  width: 170px;
  height: 92px;
}

.customers-a {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers-a:hover,
.customers-a:focus {
  border: 1px solid var(--accent-color);
}

.customers-a:hover,
.customers-a:focus,
.customers-list-a:hover,
.customers-list-a:focus {
  fill: var(--accent-color);
}

.customers-list:last-child {
  margin-right: 0;
}

.customers-list-div {
  margin: 0;
  padding: 0;
}

.customers-list-img {
  margin: 0;
}

/* Футер */

.footer {
  background-color: var(--section-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-top: 20px;
}

.footer-nav {
  margin: 0 0 9px 0;

  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav-i {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-style: normal;
}
.list-works,
.list-teams {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.list-works__image,
.list-teams-border {
  margin-right: 30px;
}

.list-works__image:last-child {
  margin-right: 0;
}

.list-works__image {
  position: relative;
}

.works-image__wrapper {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.works-image__title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 27px 0;
}

.list-teams-border {
  background-color: #ffffff;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-teams-border:last-child {
  margin-right: 0;
}

.teams-np {
  padding: 30px 10px;
}

.list-footer {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.logo-footer {
  display: flex;
  align-items: center;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.logo-color-second {
  color: #ffffff;
  font-size: 26px;
}

.list-header__navigation .footer-nav {
  color: rgba(255, 255, 255, 0.6);
}

.list-buttom {
  margin-right: 8px;
}
.list-buttom:last-child {
  margin-right: 0;
}

.button-portfolio {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Страница portfolio */

.list-project {
  margin: 0;

  color: #757575;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.header-site__navigation {
  display: flex;
  align-items: center;

  text-decoration: none;
  margin-left: auto;
}

.header-site__link--navigation {
  display: flex;
  align-items: center;
}

.list-link-hp {
  padding: 20px 24px 17px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.list-name {
  margin: 0 0 4px 0;
  color: #4e4c4c;
}

.list-header__navigation {
  display: flex;
  justify-content: center;

  list-style: none;
  padding-left: 0;
  margin-left: 93px;
}

.list-hero {
  display: flex;
  justify-content: center;

  list-style: none;
  padding-left: 0;
  margin: 0 0 50px 0;
}

.header,
.header-portfolio,
.header-container {
  display: flex;
}

.list-link-img {
  display: block;
}

.ist-link-hp {
  padding: 20px 0;
}

.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-header__navigation.link-li {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.list-link {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link {
  position: relative;
  overflow: hidden;
}

.list-link-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.list-link:hover .list-link-div {
  transform: translateY(0);
}

.product-paragraph {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.list-link-li {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  background-color: var(--primary-white-color);
}

.list-link:hover,
.list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-link:hover,
.list-link:focus {
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.list-link-li:nth-child(3n) {
  margin-right: 0;
}

.list-link-li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.header-site__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-site__icon--width {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-site__link--navigation:hover,
.header-site__link--navigation:focus {
  fill: var(--accent-color);
}

.teams-a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.teams-a:hover,
.teams-a:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.teams-a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teams-list {
  margin-right: 10px;
}

.teams-list:last-child {
  margin-right: 0;
}

.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 16px 0 0 0;
  padding: 0;
}

.customers-a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-list-a {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-a {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-a {
  fill: #afb1b8;
}

.footer-list {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}

.footer-icon > h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.teams-icon {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-svg {
  fill: var(--primary-white-color);
}

.footer-nav-mail > h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.footer-form {
  margin-right: 12px;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;

  padding: 15px 0 13px 16px;

  width: 358px;
  outline: none;
}

.footer-nav-button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--primary-white-color);

  padding: 0 0 0 29px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;

  width: 200px;
}

.footer-nav-button:hover,
.footer-nav-button:focus {
  background-color: #188ce8;
}

.footer-svg {
  fill: var(--primary-white-color);
  margin: 13px 28px 13px 10px;
}
